.CreateCard {
  margin: 20px;
  display: inline-block;
  background-color: rgb(180, 204, 61);
  color: rgb(73, 107, 35);
  width: 300px;
  border-radius: 20px;
}

.CreateCard:hover {
  cursor: pointer;
}
